  .weather-card {
    background: linear-gradient(to bottom right, #4facfe, #00f2fe);
    border-radius: 15px;
    margin: 10%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    font-family: 'Arial', sans-serif;
    padding: 10%;
    grid-column: 2 / 3;
    grid-row: 2 / 3; 
    text-align: center;
  }

  .location {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .time {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .temperature {
    font-size: 1em;
    font-weight: bold;
  }