.app-header {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  padding: 20px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / -1; /* Ocupa toda la fila en términos de columnas */
}

.app-title {
  font-size: 2em;
  margin: 0;
  font-family: 'Arial', sans-serif;
}